<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <!--  <property name="connection.url">jdbc:mysql://localhost:3306/quanlybongda_totnghiep</property>-->
    <!--  <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>-->
    <!--  <property name="connection.username">root</property>-->
    <!--  <property name="connection.password"></property>-->

    <!--  <property name="connection.pool_size">1</property>-->
    <!--  <property name="dialect">org.hibernate.dialect.MySQLDialect</property>-->
    <!--  <property name="current_session_context_class">thread</property>-->
    <!--  <property name="show_sql">true</property>-->
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/quanlybongda_totnghiep</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password"></property>

        <property name="connection.pool_size">15</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="current_session_context_class">thread</property>
        <property name="show_sql">true</property>

        <mapping class="com.example.demo.repository.entityTable.CauThuEntity"/>
        <mapping class="com.example.demo.repository.entityTable.ChiSoCauThuEntity"/>
        <mapping class="com.example.demo.repository.entityTable.CauThuDaEntity"/>
        <mapping class="com.example.demo.repository.entityTable.DoiBongEntity"/>
        <mapping class="com.example.demo.repository.entityTable.DoiDaEntity"/>
        <mapping class="com.example.demo.repository.entityTable.GiaiDauEntity"/>
        <mapping class="com.example.demo.repository.entityTable.SanBongEntity"/>
        <mapping class="com.example.demo.repository.entityTable.SuKienEntity"/>
        <mapping class="com.example.demo.repository.entityTable.TranDauEntity"/>
        <mapping class="com.example.demo.repository.entityTable.TrongTaiEntity"/>
        <mapping class="com.example.demo.repository.entityTable.TrongTaiTranDauEntity"/>
        <mapping class="com.example.demo.repository.entityTable.ViTriEntity"/>
        <mapping class="com.example.demo.repository.entityTable.VongDauEntity"/>
        <mapping class="com.example.demo.repository.entityTable.SuKienTranDauEntity"/>

    </session-factory>
</hibernate-configuration>