.list-match{
    width: 752px;
    border-left: 1px solid #EBEBEB;
    border-right: 1px solid #EBEBEB;
    margin: auto;
    box-shadow: 0px 0px 8px 2px #E8E9D7;
}

.list-match .header-match-round{
    width: 100%;
    height: 40px;
    background: #F8F9FA;
    border-bottom: 1px solid #EBEBEB;
    padding: 12px 24px 10px;
}

.list-match .row{
    display: flex;
    border-bottom: 1px solid #EBEBEB;
}
.list-match .row .item-match{
    width: 50%;
    height: 108px;
    background: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.1s ease-in;
}
.list-match .row .item-match:hover{
    background: #9bb3ff;
}
.list-match .row .item-match > *{
    text-align: center;
}
.list-match .row .item-match .item-match-left{
    width: 63px;
}
.list-match .row .item-match .item-match-middle{
    width: 203px;
}
.list-match .row .item-match .item-match-middle div{
    display: flex;
}
.list-match .row .item-match .item-match-middle .arrow-left {
    margin: 3px 0 0 5px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right:6px solid black;
}
.list-match .row .item-match .item-match-right{
    width: 106px;
}

.list-match .row .line-middle{
    width: 1px;
    background: #EBEBEB;
}